In [1]:
# Mengimpor modul kagglehub untuk mengunduh dataset dari Kaggle
import kagglehub

# Mengunduh dataset terbaru "The Movies Dataset" dari Kaggle
path = kagglehub.dataset_download("rounakbanik/the-movies-dataset")

# Menampilkan jalur tempat dataset disimpan
print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/rounakbanik/the-movies-dataset?dataset_version_number=7...

100%|██████████| 228M/228M [00:02<00:00, 105MB/s]

Extracting files...

Path to dataset files: /root/.cache/kagglehub/datasets/rounakbanik/the-movies-dataset/versions/7

## Data Understanding

### Mengunduh Dataset

In [2]:
# Mengimpor pandas untuk pemrosesan data dan beberapa modul dari scikit-learn
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

# Membaca dataset 'movies_metadata.csv' dari direktori yang sudah diunduh
df = pd.read_csv('/root/.cache/kagglehub/datasets/rounakbanik/the-movies-dataset/versions/7/movies_metadata.csv')

# Melihat 5 baris pertama dari dataset
df.head()

<ipython-input-2-afe5eff12e23>:7: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/root/.cache/kagglehub/datasets/rounakbanik/the-movies-dataset/versions/7/movies_metadata.csv')

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

Dataset diambil dari Kaggle dengan menggunakan modul kagglehub, dan disimpan di direktori tertentu. Dataset yang digunakan disimpan dalam file movies_metadata.csv, yang kemudian dibaca dan diperiksa menggunakan pandas. Dilihat juga beberapa baris awal dataset untuk memahami struktur datanya.

### Menampilkan Informasi Kolom

In [3]:
# Menampilkan informasi dataset, termasuk jumlah kolom dan tipe data masing-masing kolom
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

Informasi tentang dataset seperti jumlah kolom, tipe data masing-masing kolom, dan jumlah nilai yang hilang ditampilkan untuk lebih memahami struktur dataset.

### Statistik Deskriptif

In [4]:
# Menampilkan statistik deskriptif dari dataset, dengan perhitungan persentil tambahan
df.describe([0, 0.05, 0.50, 0.95, 0.99, 1]).T

,count,mean,std,min,0%,5%,50%,95%,99%,100%,max
revenue,45460.0,1.120935e+07,6.433225e+07,0.0,0.0,0.0,0.0,4.780892e+07,2.730876e+08,2.787965e+09,2.787965e+09
runtime,45203.0,9.412820e+01,3.840781e+01,0.0,0.0,11.0,95.0,1.380000e+02,1.850000e+02,1.256000e+03,1.256000e+03
vote_average,45460.0,5.618207e+00,1.924216e+00,0.0,0.0,0.0,6.0,7.800000e+00,8.700000e+00,1.000000e+01,1.000000e+01
vote_count,45460.0,1.098973e+02,4.913104e+02,0.0,0.0,0.0,10.0,4.340000e+02,2.183820e+03,1.407500e+04,1.407500e+04

Statistik deskriptif juga digunakan untuk melihat ringkasan statistik dari kolom-kolom numerik seperti revenue, runtime, vote_average, dan vote_count.

### Memeriksa Missing Values

In [5]:
# Memeriksa jumlah nilai yang hilang (missing values) di setiap kolom dataset
df.isnull().sum()

adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

Data diperiksa untuk melihat adanya nilai yang hilang di setiap kolom dataset.

## Data Preparation

### Mengisi Missing Values

In [6]:
# Mengisi nilai yang hilang pada kolom 'overview' dengan string kosong
df['overview'] = df['overview'].fillna('')

# Memastikan bahwa tidak ada lagi nilai yang hilang di kolom 'overview'
df['overview'].isnull().sum()

0

Missing Values di kolom overview diisi dengan string kosong untuk memastikan data tersebut tidak menghambat proses selanjutnya.

### Mengonversi Kolom overview menjadi TF-IDF

In [7]:
# Membuat objek TF-IDF Vectorizer dan menghapus stop words bahasa Inggris
tfidf = TfidfVectorizer(stop_words="english")

# Mengubah kolom 'overview' menjadi vektor numerik menggunakan TF-IDF
tfidf_matrix = tfidf.fit_transform(df['overview'])

# Menampilkan dimensi matriks TF-IDF yang dihasilkan (baris x kolom)
tfidf_matrix.shape

(45466, 75827)

In [8]:
# Memeriksa ukuran dari kolom judul film untuk dibandingkan dengan ukuran matriks TF-IDF
df['title'].shape

(45466,)

In [9]:
# Mengonversi matriks TF-IDF menjadi array (tidak selalu diperlukan, hanya untuk melihat isi matriksnya)
tfidf_matrix.toarray()

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

Menggunakan TF-IDF (Term Frequency-Inverse Document Frequency), teks dalam kolom overview diubah menjadi representasi vektor yang akan digunakan untuk menghitung kesamaan antar film.

### Menghitung Cosine Similarity

In [10]:
# Menghitung cosine similarity antara vektor TF-IDF untuk menemukan kesamaan antar film
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)

# Menampilkan dimensi matriks cosine similarity yang dihasilkan
cosine_sim.shape

(45466, 45466)

In [11]:
# Menampilkan kesamaan film pada indeks ke-1 dengan semua film lainnya
cosine_sim[1]

array([0.01504121, 1.        , 0.04681953, ..., 0.        , 0.02198641,
       0.00929411])

Setelah vektor TF-IDF terbentuk, dilakukan perhitungan kesamaan antar film menggunakan metode cosine similarity.

### Menghapus Duplikasi Judul Film

In [12]:
# Membuat Series di mana indeks adalah judul film dan nilai adalah indeks baris film
indices = pd.Series(df.index, index=df['title'])

# Menampilkan jumlah judul film yang duplikat
indices.index.value_counts()

title
Cinderella              11
Alice in Wonderland      9
Hamlet                   9
Les Misérables           8
Beauty and the Beast     8
                        ..
Babies                   1
The Green Room           1
Captain Conan            1
Like It Is               1
I Killed My Mother       1
Name: count, Length: 42277, dtype: int64

In [13]:
# Menampilkan indeks dari film berjudul "Cinderella" (sebelum menghapus duplikat)
indices["Cinderella"]

title
Cinderella      993
Cinderella    13076
Cinderella    23507
Cinderella    23518
Cinderella    28391
Cinderella    28664
Cinderella    34254
Cinderella    35593
Cinderella    35595
Cinderella    41074
Cinderella    45406
dtype: int64

In [14]:
# Menghapus judul film yang duplikat, hanya menyimpan yang terakhir
indices = indices[~indices.index.duplicated(keep='last')]

# Menampilkan indeks dari "Cinderella" setelah duplikat dihapus
indices["Cinderella"]

45406

Dataset mengandung beberapa judul film yang duplikat. Duplikasi ini dihapus dengan menyimpan hanya satu entri untuk setiap judul film.

In [15]:
# Mengambil indeks film "Cinderella"
movie_index = indices["Cinderella"]

# Menampilkan skor kesamaan film "Cinderella" dengan semua film lainnya
cosine_sim[movie_index]

array([0.        , 0.        , 0.        , ..., 0.        , 0.00792129,
       0.        ])

## Modeling and Result

### Memilih Film untuk Dicari Kemiripannya

In [16]:
# Membuat DataFrame yang berisi skor kesamaan antara "Cinderella" dan film lainnya
similarity_scores = pd.DataFrame(cosine_sim[movie_index], columns=["score"])

# Mengambil 10 film teratas yang mirip dengan "Cinderella", selain "Cinderella" itu sendiri
movie_indices = similarity_scores.sort_values("score", ascending=False)[1:11].index

# Menampilkan judul film yang mirip dengan "Cinderella"
df['title'].iloc[movie_indices]

33895            Freetown
34689    Come Tomorrow...
14606            Piter FM
15749           Comrade X
43813            Two Days
9555       Kamikaze Girls
24588          Chatterbox
41859       Free Floating
10604       Cuban Rafters
43069     Leave to Remain
Name: title, dtype: object

Pada tahap ini, kami mengambil contoh film dengan judul "Cinderella" dan menghitung kesamaan antara film ini dengan semua film lainnya menggunakan nilai dari cosine similarity.

### Function Rekomendasi Film Content Based dengan TF-IDF dan Cosine Similarity

In [37]:
# Membuat fungsi untuk merekomendasikan film berdasarkan konten (overview)
def content_based_recommender(title, cosine_sim, dataframe):
    # Membuat indeks untuk setiap judul film
    indices = pd.Series(dataframe.index, index=dataframe['title'])
    # Menghapus judul yang duplikat
    indices = indices[~indices.index.duplicated(keep='last')]
    # Mendapatkan indeks film yang sesuai dengan judul yang diberikan
    movie_index = indices[title]
    # Menghitung skor kesamaan film berdasarkan judul
    similarity_scores = pd.DataFrame(cosine_sim[movie_index], columns=["score"])
    # Mengambil 10 film teratas yang mirip, kecuali film itu sendiri
    movie_indices = similarity_scores.sort_values("score", ascending=False)[1:11].index

    # Mengembalikan judul film beserta skor kesamaannya
    result = similarity_scores.loc[movie_indices]
    result['title'] = dataframe['title'].iloc[movie_indices].values
    return result.reset_index(drop=True)[['title', 'score']]

### Menampilkan Rekomendasi Film

In [65]:
# Mencoba fungsi rekomendasi untuk film "Toy Story"
content_based_recommender("Toy Story", cosine_sim, df)

                                          title     score
0                                   Toy Story 3  0.531909
1                                   Toy Story 2  0.471984
2                        The 40 Year Old Virgin  0.275047
3                                     Small Fry  0.273062
4                   Andy Hardy's Blonde Trouble  0.235495
5                                    Hot Splash  0.223841
6              Andy Kaufman Plays Carnegie Hall  0.217688
7  Superstar: The Life and Times of Andy Warhol  0.215959
8  Andy Peters: Exclamation Mark Question Point  0.201972
9                                     The Champ  0.198825

In [64]:
# Mencoba fungsi rekomendasi untuk film "Vampire"
content_based_recommender("Vampire", cosine_sim, df)

                    title     score
0            The Forsaken  0.424454
1         Pharaoh's Curse  0.218640
2                Election  0.218214
3         The Five Venoms  0.216470
4     Forbidden Love Game  0.212743
5              Pale Blood  0.202650
6        Vampire Hunter D  0.199128
7         Blood and Roses  0.194823
8     Liar, Liar, Vampire  0.192337
9  The Blood Beast Terror  0.189885

In [80]:
# Mencoba fungsi rekomendasi untuk film "Batman Forever"
content_based_recommender("Batman Forever", cosine_sim, df)

                                               title     score
0                              The Dark Knight Rises  0.316211
1                                  Batman: Bad Blood  0.254348
2              Batman: Return of the Caped Crusaders  0.241174
3                                    The Dark Knight  0.230327
4            Batman: The Dark Knight Returns, Part 1  0.228748
5                       Batman: Mask of the Phantasm  0.224106
6                                      Batman Begins  0.211240
7  Batman Unmasked: The Psychology of the Dark Kn...  0.206121
8                           Batman Beyond: The Movie  0.196737
9                                      Batman & Bill  0.194599

Setelah menghitung kesamaan, diambil 10 film teratas yang memiliki kesamaan tertinggi dengan Film yang dipilih, kecuali Film itu sendiri. Film-film ini merupakan hasil dari sistem rekomendasi berbasis konten.

## Conclusion

Kode ini berhasil mengimplementasikan sistem rekomendasi film berbasis konten menggunakan vektorisasi TF-IDF pada "overview" film. Dengan menghitung cosine similarity, sistem dapat menemukan 10 film teratas yang paling mirip berdasarkan konten teks "overview" film. Judul yang duplikat ditangani agar rekomendasi tetap unik, dan sistem ini dapat digunakan untuk merekomendasikan film apapun dalam dataset. Pendekatan ini efektif untuk rekomendasi berbasis konten, namun bisa ditingkatkan lebih lanjut dengan menambahkan fitur lain seperti genre atau rating pengguna.